@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 0px 100px;
    padding-top: 8px;
}

.logo-bar {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 600;
}

ul {
    margin: 0;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 16px;
}

li {
    list-style: none;
}

a {
    color: #9a9b9b;
    text-decoration: none;
    font-size: 18px;
}